<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Hello</title>
    <link href="/App.css" rel="stylesheet" />
</head>
<body>
    <h1>Cyient</h1>
    <hr />
    
    @RenderBody()

    <hr />
    copyright &copy; @ViewData["contact"]

</body>
</html>

