<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Cyient Server @RenderSection("Title",false)</title>
    <link href="/App.css" rel="stylesheet" />
</head>
<body>
    <header>
        <h1 class="site-title">Cyient</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/">About</a>
        </nav>
    </header>
    
    <div class="content">
        @RenderBody()
    </div>
    

    <footer>
       @DateTime.Now | &copy; vivek@conceparchitect.in | twitter: @@vivekdmishra
    </footer>
</body>
</html>

